/* 
   This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   SwissStyle by Brett Terpstra
   */

html
{
	background:#FFF url(http://dixit.ca/images/backgrounds/paper.jpg) repeat top left;
	font-size:120%;
}

html,body,p
{
	-webkit-font-smoothing:antialiased;
	font-family:"Adobe Garamond Pro","Hoefler Text", Georgia, "Times New Roman", Times, serif;
	font-size:20pt;
	margin:0 1em;
	padding:0 1em;
}

h1, h2, h3, h4, h5, h6
{
	font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight:700;
	text-rendering:optimizeLegibility;
	color:#0288AD;
color:#000;
	line-height:1.1667em;
	border-bottom:2px dotted #0288AD;
	text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
	-webkit-transition:all .2s linear;
	line-height:1.5em;
}

h2
{
font-size: 200%;
}

h3
{
	color:#524D4D;
	font-size:110%;
}

h4
{
	color:blue;
	font-size:100%;
}

h5
{
	border-bottom:2px dotted #F1684E;
}

body,p,td,div,ul li,ol li
{
	font-family:"Adobe Garamond Pro","Hoefler Text",Georgia, Georgia, "Times New Roman", Times, serif;
	word-wrap:break-word;
	text-rendering:optimizeLegibility;
	line-height:1.6;
}


a
{
	-webkit-transition:color .2s ease-in-out;
	color:#0d6ea1;
	text-decoration:none;
}

a:hover
{
	color:#3593d9;
}

h2 em
{
	color:#111;
	padding-left:10px;
	text-shadow:0 1px 0 #FFF;
}

.footnote
{
	color:#0d6ea1;
	font-size:.8em;
	vertical-align:super;
}

#wrapper img
{
	max-width:100%;
}

dd
{
	margin-bottom:1em;
}

li > p:first-child
{
	margin:0;
}

ul ul,ul ol
{
	margin-bottom:.4em;
	padding-bottom:2em;
}

caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr
{
	border-spacing:0;
	background-color:#F9F9F9;
	border:1px solid #CCC;
	font:11px/1.4em Arial, sans-serif;
	padding:3px;
}

table
{
	border:1px solid rgba(0,0,0,0.25);
	border-collapse:collapse;
	display:table;
	empty-cells:hide;
	table-layout:fixed;
	margin:-1px 0 23px 80px;
	padding:0;
}

caption
{
	display:table-caption;
	font-weight:700;
}

col
{
	display:table-column;
}

colgroup
{
	display:table-column-group;
}

tbody
{
	display:table-row-group;
}

tfoot
{
	display:table-footer-group;
}

thead
{
	display:table-header-group;
}

td,th
{
	display:table-cell;
}

tr
{
	display:table-row;
}

table th,table td
{
	font-size:1.1em;
	line-height:23px;
	padding:0 1em;
}

table thead
{
	background:rgba(0,0,0,0.15);
	border:1px solid rgba(0,0,0,0.15);
	border-bottom:1px solid rgba(0,0,0,0.2);
}

table tbody
{
	background:rgba(0,0,0,0.05);
}

table tfoot
{
	background-color:#b0c4de;
	border:1px solid rgba(0,0,0,0.15);
	border-top:1px solid rgba(0,0,0,0.2);
}

figure
{
	display:inline-block;
	margin-bottom:1.2em;
	position:relative;
}

figcaption
{
	-webkit-transition:all .2s ease-in-out;
	background:rgba(0,0,0,0);
	bottom:0;
	color:rgba(255,255,255,0);
	left:0;
	position:absolute;
	text-align:center;
	width:100%;
}

figure:hover
{
	cursor:pointer;
}

figcaption:hover
{
	background:rgba(0,0,0,.56);
	color:rgba(255,255,255,1);
}

.poetry pre
{
	display:block;
	font-family:Georgia, Garamond, serif!important;
	font-style:italic;
	line-height:1.6em;
	margin-left:1em;

	word-wrap:break-word;}

.poetry pre code
{
	font-family:Georgia, Garamond, serif!important;
}

sup,sub,a.footnote
{
	font-size:1.4ex;
	height:0;
	line-height:1;
	position:relative;
	vertical-align:super;
}

sub
{
	vertical-align:sub;
	top:-1px;
}

p
{
	line-height:1.3125em;
	margin:1.3125em 0;
}

dt,th
{
	font-weight:700;
}

table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd)
{
	background:rgba(255,255,255,0.06);
}

table tr:nth-child(even),table td:nth-child(even)
{
	background:rgba(0,0,0,0.06);
}

blockquote, .example
{
	font-family:"Adobe Garamond Pro","Hoefler Text","Adobe Caslon Pro",Georgia, Garamond,Georgia,serif;
	text-decoration:none;
	line-height:1.5;
	background-color:#FCC;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:1px solid #000;
	box-shadow:#000 .2em .2em .4em;
	-webkit-transition:all 0.1s ease-in-out;
	background:#363738 url(http://dixit.ca/images/backgrounds/dark_leather.jpg) repeat top left;
	color:#fff;
	text-shadow:0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
	width:50%;
	font-style:normal;
	margin:auto;
	padding:1em;
overflow:auto;
}

blockquote:hover,.example:hover
{
	box-shadow:#000 .4em .4em .8em;
	text-shadow:0 0 150px #FFF, 0 0 60px #FFF, 0 0 20px #FFF;

}

em
{
	font-style:normal;
	font-weight:700;
	color:#C41E24;
	text-rendering:optimizeLegibility;
	text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
	-webkit-transition:all .2s linear;
}

blockquote em
{
	font-style:normal;
	font-weight:700;
	color:#FF0;
	text-rendering:optimizeLegibility;
}

strong
{
	font-weight:700;
	color:blue;
	text-rendering:optimizeLegibility;
	display:none;
}

pre, .example
{
/* this is the code that will wrap text within the pre tag */ 

white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word; 
}

.timestamp
{
	color:#000;
	text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
	-webkit-transition:all .2s linear;
}

.jannotation

{
    margin:0px 30px auto 0px;
    position:relative;
float:left;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefbb0), to(#fff955));
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
padding: 30px -30px -30px 30px;
display:inline;
color:#000;
text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
	-webkit-transition:all .2s linear;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
 font-weight: 300; 
 text-rendering:optimizeLegibility;
 
}


.jannotation:after
{
    -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.7);
    position:absolute;
    content:'';
    background:transparent;
    bottom:10px;
    right:8px;
    width:70%;
    height:70%;
    -webkit-transform: rotate(5deg)
    skew(10deg);
    z-index:-2;
}

.jannotation:before{
    -webkit-box-shadow: 11px 11px 32px rgba(255, 255, 255, 0.7);
    position:absolute;
    content:'';
    background:transparent;
    bottom:46px;
    right:41px;
    width:50%;
    height:50%;
    -webkit-transform: rotate(20deg)
                       skew(45deg);
 z-index:-1;
}

.bfr
{
	font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight:300;
	text-rendering:optimizeLegibility;
	font-size:60%;
	padding:1em;
}

li ol,li ul
{
	margin-top:6px;
}

ol ol li:last-child
{
	margin-bottom:0;
}

ol
{
	margin-bottom:0!important;
	margin-left:60px!important;
	margin-right:60px!important;
	width:75%;
}

ol li
{
	padding-bottom:1px;
}

.title
{
	font-family:"FELL Great Primer","Hoefler Text",Georgia, "Times New Roman", Times, serif;
	font-size:100px;
	text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
	-webkit-transition:all .2s linear;
	opacity:1px;
	padding-bottom:20px;
	color:#000;
	margin-bottom:20px;
	line-height:1;
	font-weight:700;
	width:70%;
	margin-right:auto;
	margin-left:auto;
}

@media print {
	body
	{
		overflow:auto;
	}
	
	img,pre,blockquote,table,figure
	{
		page-break-inside:avoid;
	}
	
	.footnotes
	{
		page-break-before:always;
	}
	
	#wrapper
	{
		position:relative;
		text-indent:0;
		padding:10px;
	}
}

@media screen {
	::selection
	{
		background:rgba(157,193,200,.5);
	}
	
	.inverted a
	{
		color:#fff;
		text-decoration:underline;
	}
	
	#wrapper
	{
		padding:20px;
	}
	
	.inverted,.inverted #wrapper
	{
		background:#333;
	}
}






/*
  blockquote:first-letter {	
  font: "Goudy Trajan",Georgia, "Times New Roman", Times, serif;
  color: #903; weight: bold;font-size: 125px; line-height: 60px; padding-top: 40px; padding-left: 60px; 
  float:left;
  padding-right:15px;
  }
  */ 



 /**
    ul li li:nth-child(odd)
    {
    color:blue !important;
    list-style:none;
    margin-left:50px;
    }

ul li li:nth-child(odd):before
{
color:gray !important;
content:"Me: ";
font-weight:bold;
display:block;
margin-left:-100px;
margin-bottom:-49px;
}


ul li li:nth-child(even)
{
font-weight:normal;
color:#FF7800;
list-style:none;
margin-left:50px;
}

ul li li:nth-child(even):before
{
color:gray !important;
content:"Them: ";
font-weight:bold;
display:block;
margin-left:-100px;
margin-bottom:-49px;
}
**/


/* add the hierarchy*/
body {margin-left:40px;}
h2 {margin-left:0px;}
h3 {margin-left:40px;}
h4 {margin-left:80px;}
h5 {margin-left:120px;}
h6 {margin-left:160px;}

p
{
    margin-left:40px;}

li
{
    margin-left:80px;}


.outline-text-4
{
    margin-left:30px;
}
/* that's it! */




/* Sexy tables 

table{
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 300;
text-rendering:optimizeLegibility;
font-size: 18px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
letter-spacing: -1px;
line-height: 1.7em;
text-align:center;
border-collapse:collapse;
}

thead th{
padding:6px 10px;
font-size:26px;
font-weight:bold;
text-transform:uppercase;
color:#444;
text-shadow:1px 1px 1px #fff;
border-bottom:5px solid #444;
}
thead th:empty{
background:transparent;
border:none;
}


thead :nth-child(1),
tfoot :nth-child(1){
background-color: #45A8DF;
}

tfoot :nth-child(2){
-moz-border-radius:0px 0px 0px 5px;
-webkit-border-bottom-left-radius:5px;
border-bottom-left-radius:5px;
}



thead :nth-child(2),
tfoot :nth-child(2){
background-color: #7FD2FF;
}
tfoot :nth-child(2){
-moz-border-radius:0px 0px 0px 5px;
-webkit-border-bottom-left-radius:5px;
border-bottom-left-radius:5px;
}
thead :nth-child(2){
-moz-border-radius:5px 0px 0px 0px;
-webkit-border-top-left-radius:5px;
border-top-left-radius:5px;
}
thead :nth-child(3),
tfoot :nth-child(3){
background-color: #45A8DF;
}
thead :nth-child(4),
tfoot :nth-child(4){
background-color: #2388BF;
}
thead :nth-child(5),
tfoot :nth-child(5){
background-color: #096A9F;
}
thead :nth-child(5){
-moz-border-radius:0px 5px 0px 0px;
-webkit-border-top-right-radius:5px;
border-top-right-radius:5px;
}
tfoot :nth-child(5){
-moz-border-radius:0px 0px 5px 0px;
-webkit-border-bottom-right-radius:5px;
border-bottom-right-radius:5px;
}
tfoot td{
font-size:38px;
font-weight:bold;
padding:15px 0px;
text-shadow:1px 1px 1px #fff;
}
tbody td{
padding:10px;
}
tbody tr:nth-child(4) td{
}
tbody td:nth-child(even){
background-color:#444;
color:#444;
border-bottom:1px solid #444;
background:-webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.39, rgb(189,189,189)),
color-stop(0.7, rgb(224,224,224))
);
background:-moz-linear-gradient(
center bottom,
rgb(189,189,189) 39%,
rgb(224,224,224) 70%
);
text-shadow:1px 1px 1px #fff;
}
tbody td:nth-child(odd){
background-color:#555;
color:#f0f0f0;
border-bottom:1px solid #444;
background:-webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.39, rgb(85,85,85)),
color-stop(0.7, rgb(105,105,105))
);
background:-moz-linear-gradient(
center bottom,
rgb(85,85,85) 39%,
rgb(105,105,105) 70%
);
text-shadow:1px 1px 1px #000;
}
tbody td:nth-last-child(1){
border-right:1px solid #222;
}
tbody th{
color:#696969;
text-align:right;
padding:0px 10px;
border-right:1px solid #aaa;
}
tbody span.check::before{
content : url(../images/check2.png)
}

*/ 

blockquote, pre 
{
display:block;}


img {
box-shadow: black 0.2em 0.2em 0.4em;
}

div.figure {
margin-left:50px;
}

div.figure p {
	display:block;
	text-align:center;
	font-family:Optima,Arial, sans-serif;
text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
 -webkit-transition:all 0.2s linear;
margin-top:-10px;
margin-bottom:10px;
width:800px;
font-size:20px;
font-weight:normal !important;
}
